repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff lint
        entry: ruff check --fix
        language: system
        types: [python]
        
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        
      - id: mypy
        name: mypy
        entry: mypy dsl_compiler/ compile.py --explicit-package-bases
        language: system
        types: [python]
        pass_filenames: false
